a {
outline-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

body:before {
content: "";
position: fixed;
top: -10px;
left: -10px;
width: 110%;
height: 10px;

-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);

z-index: 100;
}

body:after {
content: "";
position: fixed;
bottom: -10px;
left: -10px;
width: 110%;
height: 10px;

-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
-moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
box-shadow: 0px 0px 15px rgba(0,0,0,.8);

z-index: 100;
}

body {
  background:#DDD;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #555;
  border-bottom: 10px solid #777;
  /*
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);
*/}

#logo {
  display: block;
  width: 80%;
  margin: auto;
  color: #CCC;
  font-size: 30pt;
  text-shadow:0px 2px 2px #333; 
  text-decoration: none;
}

#logo strong {
  color: #AAA;
}

#message {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #FFC974;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  border: 3px solid #E8500C;
}

#messageok {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #A8E8B1;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  border: 3px solid #42D10B;
}

.content {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  border: 3px solid #999;
}

table {
  background-color: #CCC;
  margin: 0;
  padding: 0;
  border: 3px solid #777;
  width: 100%;
}

thead, thead td {
  font-weight: bold;
  background-color: #CCC !important;
}

tr {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

td {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

#totaal {
  width: 20%;
}
.datum {
  width: 20%;
}
.aantalurentabel {
  width: 10%;
}
.taak {
  width: 25%;
}
.commentaar {
  width: 25%;
}

.commentaartd {
	opacity: 0.5;
}

.disabled {
  background-color: #CCC !important;
}
#logo:after {
  content: "\2623"; /* Here comes the ivy leaf */
  font-size: 150%; /* Makes the leaf larger than the normal text */
  display: inline-block; /* Put it on a new line */
  text-align: center; /* Put it in the middle */
  text-shadow: 0px 1px 1px #888;
}
#copy:before {
  content: "\2622"; /* Here comes the ivy leaf */
  font-size: 200%; /* Makes the leaf larger than the normal text */
  margin: auto;
  width: 80%;
  color: #333;
  display: block; /* Put it on a new line */
  text-align: center; /* Put it in the middle */
  text-shadow: 0px 1px 1px #888;
}
#copy {
  margin: auto; 
  width: 80%;
  text-align:center; 
  color:#333; 
  text-shadow:0px 1px 1px #AAA; 
  margin-top: 20px; 
  margin-bottom: 20px;
}

#copy strong {
  color: black;
}

.deleteicon {
	display: block;
	text-indent: -5000px;
	background-image: url('images/delete.png');
	width: 16px;
	height: 16px;
}

.tableheading {
	padding: 5px; 
	cursor:pointer; 
	display:block; 
	text-decoration:none; 
	margin:0; 
	margin-top:10px;
	border-bottom:  1px solid #CCC;
}  