<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Sexy Uren Registratie</title>
<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet" />
<link type="text/css" href="css/styles.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.12.custom.min.js"></script>
		
<script type="text/javascript">
	$(function() {
		$( "#datepicker" ).datepicker();
	});
</script>
</head>
<body>
    <div id="header">
      <a href="index.php" id="logo">Sexy <strong>Uren Registratie</strong> </a>
    </div>
    <!-- IF MESSAGE == 1 -->
    <div id="messageok">
    	<p>Je uren zijn gelogt.</p>
    </div>
    <!-- ELSEIF MESSAGE != '' -->
    <div id="message">
    	<p>{MESSAGE}</p>
    </div>
    <!-- ENDIF -->
    <div id="content">
		<h3>Toevoegen</h3>
			<form action="./index.php" method="post">
				<div>User :
					<select name="user_id">
						<option value="0">Selecteer...</option>
						<!-- BEGIN user_loop -->
						<option value="{user_loop.USER_ID}">{user_loop.USER_NAME}</option>
						<!-- END user_loop -->
					</select>
					Datum :<input type="text" id="datepicker" name="datefield" value="{CURRENT_DATE}"/>
					Aantal uren:<input type="text" name="aantaluren" value="0"/>
					Taak:<input type="text" name="task" value="fappen"/>
					<input type="submit" name="submit" value="Submit"/>
      			</div>
			</form>
			<hr />
		<h3>Filter <sup style="font-size: 70%; color: darkred;">BETA</sup></h3>
			<form action="./index.php" method="get">
			Jaar: 
				<select name="year_sort">
					<!-- BEGIN years_sorting -->
					<option value="{years_sorting.YEAR}" <!-- IF years_sorting.SELECTED == 1 -->selected="selected"<!-- ENDIF -->>{years_sorting.YEAR}</option>
					<!-- END years_sorting -->
				</select>
			
			Week: 
				<select name="week_sort">
					<!-- BEGIN week_sorting -->
					<option value="{week_sorting.WEEK}" <!-- IF week_sorting.SELECTED == 1 -->selected="selected"<!-- ENDIF -->>{week_sorting.WEEK}</option>
					<!-- END week_sorting -->
				</select>
				<input type="submit" name="sort" value="Sorteer">
				<a href="index.php" style="font-size: 80%; text-decoration: underline;">Verwijder huidig filter.</a>
			</form>
			<hr />
			<!-- BEGIN entry_list_loop -->
			<h3>{entry_list_loop.USER_NAME}</h3>
			<table>
				<thead>
				<tr>
					<td class="aantalurentabel">Aantal uren</td>
					<td class="datum">Datum</td>
					<td class="taak">Taak</td>
					<td>Verwijderen</td>
				</tr>
				</thead>
				<!-- BEGIN single_entry -->
				<tr>
					<td>{entry_list_loop.single_entry.HOURS}</td>
					<td>{entry_list_loop.single_entry.DATE}</td>
					<td>{entry_list_loop.single_entry.TASK}</td>
					<td><a class="deleteicon" alt="Verwijder entry" href="index.php?delete={entry_list_loop.single_entry.ENTRY_ID}">Delete</a></td>
				</tr>	
				<!-- END single_entry -->
				<!-- BEGIN totals -->
				<tr style="background-color: lightgrey;">
					<td>Totaal: {entry_list_loop.totals.TOTAL_HOURS}</td>
					<td class="disabled"></td>
					<td class="disabled"></td>
				</tr>	
				<!-- END totals -->
			</table>
			<br />
			<!-- END entry_list_loop -->
      		<hr />
      		<h3>Stats</h3>
      		<p><strong>Top teamlid:</strong> {TOP_USER_NAME} met {TOP_USER_HOURS} uur</p>
      		<p><strong>Grootste slacker:</strong> {SLACKER_NAME} met {SLACKER_HOURS} uur</p>
      		<p><strong>Gemiddeld aantal uren:</strong> {AVERAGE}</p>
		</div>
		<p id="copy"><strong>Sexy Uren Registratie</strong> by Hidde "<a href="http://www.hiddejansen.com"><strong>Ganonmaster</strong></a>" Jansen &copy; All Rights Reserved</p>
</body>
</html>